input,textarea {
	padding: 9px;
	margin-top: 0.5em;
	border: 1px solid #CCCCCC;
	outline: 0;
	color: #666666;
	font: normal 13px/ 100% Verdana, Tahoma, sans-serif;
	width: 350px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF) );
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

label {
    display: block;
}

fieldset {
    border: 0px solid #ccc;
}

textarea {
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	height: 150px;
}

input:hover,textarea:hover,select:hover,input:focus,textarea:focus,select:focus {
	border-color: #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

label,.form-label {
	color: #777;
	font-weight: bold;
	padding-top: 0.75em;
}

input[type=submit] {
    display: block;
	cursor: pointer; width : auto;
	padding: 9px 15px;
	background: #78654D;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: auto;
}

input,textarea,select {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}


input.disabled:hover {
	box-shadow: rgba(0, 0, 0, 0.0) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.0) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0) 0px 0px 8px;
}
